/* <div className="bg-black w-[350px]  mx-auto text-white p-5 mt-2 rounded-2xl relative min-h-[676px]">
<Outlet />
</div> */
.layout {
  background: linear-gradient(to bottom right, #000, #1d323e);
  border-radius: 20px;
  width: 400px;
  height: 100%;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
