/* <div className="flex items-center bg-slate-600 h-20 px-3 rounded-2xl mb-12">
<div className="bg-yellow-500 h-14 w-14 flex items-center justify-center rounded-2xl">
  <HiUserGroup className="h-10 w-10 p-2" />
</div>
<div className="flex-1 ml-2 -mt-2 ">
  <h3 className="text-lg font-bold tracking-wide">Team Dinner</h3>
  <p className="text-xs text-gray-400">Total Payment ($3600)</p>
</div>
<div>
  <div className="flex ml-0 my-3">
    {initialFriends.map((friend) => (
      <img
        key={friend.id}
        src={friend.image}
        alt={friend.name}
        className="h-9 w-() flex rounded-full -ml-4"
      />
    ))}
  </div>
</div>
</div> */
.rs {
  flex: 1;
}
.rs-container {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #212637;
  border-radius: 20px;
  padding: 12px;

  box-shadow: 1px 1px 4px #fff;
}
.rs-title {
  margin-left: 16px;
  margin-bottom: 10px;
}

.rs-icon {
  background-color: #eab308;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.rs-icon svg {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.rs-info {
  flex: 1;
  margin-left: 0.5rem;
  margin-top: -0, 5rem;
}
.rs-info p {
  display: flex;
  font-size: 12px;
}
.rs-img {
  display: flex;
  margin: 0 0.75rem;
}

.rs-img img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: -0.75rem;
}
