.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  color: #fff;
}
.landing-img {
  height: 60%;
}
.landing img {
  width: 100%;
}
.landing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 0 30px;
}
.landing-info h1 {
  font-size: 45px;
  margin-bottom: 5px;
}
.landing-info p {
  font-size: 14px;
}

.btn-started {
  font-size: 20px;
}
