/* <div className="w-full p-3 rounded-2xl   border-2 border-red-800 border-dashed  justify-between h-36 mb-4">
      <div className="flex items-center justify-between">
        <h2>Recent Friends</h2>
        <p>See all</p>
      </div>
      <div className="flex items-center justify-between mt-4">
        {initialFriends.map(({ id, image, name }) => (
          <div key={id} className="flex flex-col items-center gap-2">
            <img src={image} alt={name} className="rounded-full h-10 w-10" />
            <p className="text-sm text-center">{name}</p>
          </div>
        ))}
      </div>
    </div> */
.rf {
  width: 100%;
  padding: 16px;
  height: 144px;
  border-radius: 1.2rem;
  margin-bottom: 16px;
  border: 2px dashed #690b0b;
}
.rf-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.rf-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rf-title p {
  font-size: 14px;
  color: #808080;
}
.rf-info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.rf-info p {
  font-size: 14px;
  text-align: center;
}
.rf-info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
