.landing img {
  width: 100%;
}
.landing-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 30px;
}
.landing-info h1 {
  font-size: 45px;
  margin-bottom: 5px;
}
.landing-info p {
  font-size: 14px;
  margin-bottom: 2rem;
}

.btn-started {
  font-size: 20px;
}
