.selectedBill {
  background-color: #3d0202;
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid #c34242;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 160px;
  margin-bottom: 24px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info h2 {
  font-size: 23px;
}
.info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.info button {
  background-color: #c34242;
  padding: 0.7rem 1.3rem;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 4px;

  border-radius: 20px;
  border: 2px dashed rgba(189, 132, 132, 0.482);
  padding: 0.7rem;

  text-align: center;
}
.balance h4 {
  font-size: 16px;
}
.balance .total {
  font-size: 23px;
  font-weight: bold;
}
/* 
      <div className=" flex-1 ">
        <h2 className="text-2xl ">Split With</h2>
        <div className="flex ml-0 my-3">
          {initialFriends.map((friend) => (
            <img
              key={friend.id}
              src={friend.image}
              alt={friend.name}
              className="h-8 w-8 rounded-full"
            />
          ))}
        </div>
        <button className="px-5 py-2 text-black bg-yellow-300 rounded-full ">
          Split Now
        </button>
      </div>
      <div className="flex flex-col gap-1 rounded-2xl border-2 border-dashed border-yellow-300 text-center p-1 ">
        <h4 className="text-sm">Total Bill</h4>
        <p className="text-xl">$600.00</p>

        <span className="flex w-20 items-center justify-center ">
          <GiCommercialAirplane className=" text-yellow-400 bg-yellow-100 shadow-[-1px_1px_30px_6px_#f6e05e] rounded-full w-10 h-10 p-2 bg-opacity-45" />
        </span>
        <p className="text-xs">Design Tour</p>
      </div>
    </div> */
