* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
}
.app {
  min-height: 66vh;
  min-width: 100vw;
  background-color: antiquewhite;
  display: flex;

  padding: 2rem;
}
.friendsbar {
  border: 2px solid red;
  width: 300px;
}
.splitbillbar {
  border: 2px solid red;
  flex: 1;
}
.friendsList {
  border: 2px solid green;
  padding: 1.2rem;
}
.friendsList ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}
.friendsList li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  column-gap: 1.6rem;
}
.friendsList li img {
  border-radius: 50%;
}
.form-add-friend {
  border: 2px solid blue;
  background-color: cadetblue;
}
.form-split-bill {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1.2rem;
}
